<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
  </head>
  <body>
    <label for="/joinRoom"></label>
    <form class="Visibility" action="/joinRoom" method="post">
      <!-- <input type="text" name="name" id="" />
      <input type="text" name="room" id="" />
      <input type="text" name="key" id="">
      <button type="submit" id="submit_button">Submit</button> -->
    </form>
    <form class="Visibility" action="/createRoom" method="post">
      <input type="text" name="name" id="" />
      <input type="text" name="room" id="" />
      <input type="text" name="key" id="">
      <button type="submit" id="submit_button">Submit</button>
    </form>

    <script src="../public/simple_client.js"></script>
  </body>
</html>
